@tailwind base;
@tailwind components;
@tailwind utilities;

.small-gradient {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    width: 100px; /* Adjust the width as needed */
    height: 100px; 
}

.tracking-wide {
    letter-spacing: 0.16em; /* 16% of the font size */
  }

body{
    background: #FFFFFF;
}
 @media screen and (max-width: 450px) {
    .home {
        margin-left: 20px;
    }
 }